<div class="container-fluid">
    <div class="row p-2 bg-info">
        <div class="col-6">
            <h3>Main Class</h3>
        </div>
        <div class="col-6 text-end">
            <div class="btn btn-warning" (click)="openModal()">Add product</div>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Grade</th>
                <th>IsPassed</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Tapan Ray</td>
                <td>O+</td>
                <td>True</td>
                <td><button class="btn btn-danger">Delete</button>
                    |
                    <button class="btn btn-primary"> Edit</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-info">
                <h4 class="modal-title">Add Product</h4>
                <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <input type="text" name="name" class="form-control" placeholder="Enter Name">

                    </div>
                    <div class="col-6">
                        <input type="text" name="grade" class="form-control" placeholder="Enter Grade">

                    </div>
                    <div class="col-6 form-group form-check">
                        <label class="form-check-label" for="isPassed"> Passed </label>
                        <input type="checkbox" name="isPassed" class="form-check-input">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="closeModal()" data-bs-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger" (click)="closeModal()"
                    data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>